:root {
  /* MAIN COLORS */
  --brand-cl: #4d5ae5;
  --accent-cl: #404bbf;

  /* FONTS */
  --primary-font: "Roboto", sans-serif;
  --additional-font: "Raleway", sans-serif;

  /* TXT COLORS */
  --primary-dark-txt-cl: #434455;
  --additional-dark-txt-cl: #2e2f42;
  --additional-modal-txt-cl: #8e8f99;
  --primary-light-txt-cl: #ffffff;
  --additional-light-txt-cl: #f4f4fd;

  /* BG COLORS */
  --dark-bg-cl: #2e2f42;
  --light-bg-cl: #f4f4fd;
  --card-bg-cl: #ffffff;
  --modal-bg-cl: #fcfcfc;
  --icon-bg-cl: #e7e9fc;
  --accent-icon-bg-cl: #31d0aa;

  /* BORDER COLORS */
  --border-cl: #e7e9fc;
  --border-icon-cl: #8e8f99;

  /* BOX SHADOW */
  --box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  /* ICONS */
  --fill-socials-icon: #f4f4fd;
  --fill-features-icon: #2e2f42;
  --fill-customer-icon: #8e8f99;
  --fill-modal-icon: #2e2f42;

  /* CARD SET */
  --indent: 24px;
  --item: 1;

  /* Z-INDEX */
  --header-index: 10;
  --modal-index: 100;

  /* ANIMATION */
  --anim-active: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  |============================
  | BASE STYLES
  |============================
*/

body {
  margin-top: 72px;

  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-dark-txt-cl);

  background-color: #ffffff;
}

/**
  |============================
  | RESET
  |============================
*/

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;

  cursor: pointer;
}

/**
  |============================
  | COMMON STYLES
  |============================
*/

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--additional-dark-txt-cl);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* LOGO */

.logo {
  font-family: var(--additional-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-cl);
}

.logo-dark {
  color: var(--additional-dark-txt-cl);
}

.logo-light {
  color: var(--additional-light-txt-cl);
}

/* BUTTON */

.btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* CARD SET */

.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent);
  row-gap: 48px;
}

.card-set-item {
  width: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
}

/* SOCIALS = TEAM SECTION AND FOOTER */

.socials {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--fill-socials-icon);

  background-color: var(--brand-cl);
  border-radius: 50%;

  transition: background-color var(--anim-active);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-cl);
}

.social-icon {
  fill: currentColor;
}

/**
  |============================
  | HEADER STYLES
  |============================
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-index);

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  background-color: #ffffff;
  border-bottom: 1px solid var(--border-cl);
  box-shadow: var(--box-shadow);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav-link {
  position: relative;

  font-weight: 500;
  color: var(--additional-dark-txt-cl);
}

.current-page.header-nav-link::after {
  content: "";

  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-cl);

  border-radius: 2px;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address-link {
  color: var(--primary-dark-txt-cl);
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 23px;

  transition: color var(--anim-active);
}

.header-link:hover,
.header-link:focus,
.current-page {
  color: var(--accent-cl);
}

/**
  |============================
  | MAIN STYLES
  |============================
*/

/* HERO SECTION */

.hero-section {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;

  text-align: center;

  background-color: var(--dark-bg-cl);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/img-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-light-txt-cl);
}

.hero-btn {
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;

  color: var(--primary-light-txt-cl);

  background-color: var(--brand-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color var(--anim-active);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-cl);
}

/* FEATURES SECTION */

.features-section {
  padding-bottom: 0;
}

.features-list {
  --item: 4;
}

.feature-item {
  max-width: 264px;
}

.feature-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;

  color: var(--fill-features-icon);

  background-color: var(--light-bg-cl);
  border-radius: 4px;
}

.feature-icon {
  fill: currentColor;

  transform: scale(1);

  transition: transform var(--anim-active);
}

.feature-icon-bg:hover .feature-icon {
  transform: scale(1.3);
}

.feature-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--additional-dark-txt-cl);
}

/* PRODUCTS SECTION */

.products-list {
  --item: 3;
}

/* TEAM SECTION */

.team-section {
  background-color: var(--light-bg-cl);
}

.team-list {
  --item: 4;
}

.team-item {
  background-color: var(--card-bg-cl);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding: 32px 16px;

  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--additional-dark-txt-cl);
}

.team-position {
  margin-bottom: 8px;
}

/* CUSTOMERS SECTION */

.customers-list {
  --item: 6;
}

.customer-item {
  height: 88px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--fill-customer-icon);

  border: 1px solid var(--border-icon-cl);
  border-radius: 4px;

  transition: color var(--anim-active), border-color var(--anim-active);
}

.customer-icon {
  fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-cl);

  border-color: var(--accent-cl);
}

/* PORTFOLIO SECTION - PORTFOLIO PAGE */

.portfolio-section {
  padding-top: 96px;
}

.filters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--indent);
  margin-bottom: 72px;
}

.filter-label {
  padding: 11px 23px;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--brand-cl);

  background-color: var(--light-bg-cl);
  border: 1px solid var(--border-cl);
  border-radius: 4px;

  cursor: pointer;

  transition: color var(--anim-active), background-color var(--anim-active),
    box-shadow var(--anim-active), border-color var(--anim-active);
}

.filter-label:hover,
.filter-label:focus,
.filter-label:focus-within {
  color: var(--primary-light-txt-cl);

  background-color: var(--accent-cl);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.filter-btn {
  appearance: none;
}

.portfolio-list {
  --item: 3;
}

.portfolio-item {
  background-color: var(--card-bg-cl);
  border: 1px solid var(--border-cl);

  transition: box-shadow var(--anim-active);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: var(--box-shadow);
}

.portfolio-box {
  position: relative;

  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px 164px;

  background-color: var(--brand-cl);

  transition: transform var(--anim-active);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.overlay-label {
  color: var(--additional-light-txt-cl);
}

.portfolio-wrapper {
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--additional-dark-txt-cl);
}

/*! .portfolio-category {} */

/**
  |============================
  | FOOTER STYLES
  |============================
*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--dark-bg-cl);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-side-wrapper {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
}

.footer-desc {
  color: var(--additional-light-txt-cl);
}

.footer-socials-wrapper {
  margin-right: 80px;
}

.footer-socials-subtitle {
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--primary-light-txt-cl);
}

.footer-socials {
  gap: 16px;
}

.footer-socials .social-link:hover,
.footer-socials .social-link:focus {
  background-color: var(--accent-icon-bg-cl);
}

.footer-subscription-wrapper {
  width: 100%;
}

.subscription-subtitle {
  display: inline-block;
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--primary-light-txt-cl);
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-field {
  position: relative;

  color: var(--primary-light-txt-cl);
}

.subscription-input {
  width: 264px;
  padding: 7px 15px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: currentColor;

  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: transparent;
}

.subscription-label {
  position: absolute;
  top: 7px;
  left: 15px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  background-color: var(--dark-bg-cl);

  transition: transform var(--anim-active);
}

.subscription-input:focus + .subscription-label,
.subscription-input:not(:placeholder-shown) + .subscription-label {
  transform: scale(0.8) translate(-5px, -23px);
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  min-height: 40px;
  padding: 8px 24px;

  color: var(--primary-light-txt-cl);

  background-color: var(--brand-cl);
  border: none;
  border-radius: 4px;

  transition: background-color var(--anim-active);
}

.subscription-btn:hover,
.subscription-btn:focus {
  background-color: var(--accent-cl);
}

.subscription-btn-icon {
  fill: currentColor;
}

/**
  |============================
  | MODAL STYLES
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-index);

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  --anim-backdrop: 200ms ease;
  transition: opacity var(--anim-backdrop), visibility var(--anim-backdrop),
    backdrop-filter var(--anim-backdrop);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-delay: 600ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);

  min-width: 408px;
  min-height: 576px;
  padding: 24px;

  background-color: var(--modal-bg-cl);
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  opacity: 1;

  --anim-modal: 400ms ease-in 200ms;
  transition: transform var(--anim-modal), opacity var(--anim-modal);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(360deg) scale(0.2);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 24px;

  color: var(--fill-modal-icon);

  background-color: var(--icon-bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color var(--anim-active), background-color var(--anim-active),
    border-color var(--anim-active);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #ffffff;

  background-color: var(--accent-cl);
  border-color: transparent;
}

.modal-icon {
  fill: currentColor;
}

.modal-title {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  text-align: center;
  color: var(--additional-dark-txt-cl);
}

.modal-form {
  max-width: 360px;

  color: var(--additional-modal-txt-cl);
}

.form-fields-list {
  margin-bottom: 16px;
}

.form-field-item:not(:last-child) {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-field {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 7px 15px;
  padding-left: 38px;

  line-height: 1.5;
  letter-spacing: 0.02em;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--anim-active);
}

.form-icon {
  position: absolute;
  top: 8px;
  left: 16px;

  pointer-events: none;

  transition: fill var(--anim-active);
}

.form-input:focus + .form-icon {
  fill: var(--brand-cl);
}

.form-message {
  display: block;
  padding: 7px 15px;
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  resize: none;

  transition: border-color var(--anim-active);
}

.form-input:focus,
.form-message:focus {
  border-color: var(--brand-cl);
}

.form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-agreement {
  position: relative;

  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.form-checkbox {
  appearance: none;

  width: 16px;
  height: 16px;

  cursor: pointer;
}

.form-agreement-icon {
  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;
}

.form-agreement-icon-checked {
  opacity: 0;

  transition: opacity var(--anim-active);
}

.form-checkbox:checked + .form-agreement-icon > .form-agreement-icon-checked {
  opacity: 1;
}

.form-agreement-link {
  color: var(--brand-cl);
}

.form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;

  color: var(--primary-light-txt-cl);

  background-color: var(--brand-cl);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color var(--anim-active);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--accent-cl);
}
